@import "tailwindcss";

@theme {
  --color-primary-purple: #9061F9;
  --color-dark-purple: #130927;
  --color-light-lilac: #E0C8FF;
  --color-surface-purple: #2E1065;
  --color-bg-light: #F9F5FF;
  --color-white: #FFFFFF;
  --color-text-dark: #130927;
  --color-border-gray: #E5E7EB;
  
  --font-sans: 'Sora', sans-serif;
  
  --animate-shine: shine 1.5s infinite;
  
  @keyframes shine {
    100% {
      left: 125%;
    }
  }
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-dark);
  font-family: var(--font-sans);
}
